.available-courses-option {
    border-color: rgb(128, 128, 128);
    border-style: dotted;
    border-width: 3px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 30px;
    padding-left: 15px;
    padding-bottom: 10px;
    position: relative;
    display: block;
}

.available-courses-option:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.aside-courses-option {
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 5px 5px 10px;
    margin-right: 5px;
}

.aside-courses-option:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.available-courses-logo {
    display: block;
}

.available-courses-logo {
    width: 30%;
    aspect-ratio: 16/9;
}

.aside-courses-logo {
    width: 80%;
    aspect-ratio: 16/9;
}

.available-course-description {
    padding: 5px;
}







