aside {
    border-radius: 10px;
    background-color: #D9FFFF;
    padding: 5px 10px 5px 20px;
    margin-top: 10px;
}

.main-info {
    padding-top: 5px;
    padding-left: 20px;
    width: 60%;
}

aside {
    width: 25%;
}

.step-buttons {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
}
.course-step-button {
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
    border-radius: 10px;
    border-style: dotted;
    border-width: 3px;
    background-color: #A4ECF4;
}
